body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
/*******************************
           NAVBAR
*******************************/
.navbar-source {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #393939;
  padding: 0px 40px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E68C0E;
}

.logo > span {
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
}

#nav-logo {
  padding-right: 10px;
  height: 30px;
}

li.nav-item {
  font-family: 'Bebas Neue', cursive;
  margin: none;
  font-size: 24px;
  color: #F1E4D3;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-bottom: 0px;
}

.nav-links li {
  list-style: none;
  text-align: center;
}

.nav-links a {
  color: #F1E4D3;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 18px;
}

.nav-links a:hover {
  color: #E68C0E;
  text-decoration: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #F1E4D3;
  margin: 5px;
  transition: all 0.3s ease;
}

@keyframes navLinkFade {
  0% {
    opacity: 0;
    transform: translateX(50px);

  }
  100% {
    opacity: 1;
    transform: translateX(0px);

  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}

@media screen and (min-width: 768px){
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px){
  .nav-links {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 40vh;
    top: 10vh;
    background-color: #F1E4D3;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
    opacity: 0;
  }

  .nav-links li {
    opacity: 0;
    color: #393939;
  }

  .burger {
    display: block;
  }

  .nav-links a {
  color: #393939;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 18px;
  }

  .nav-links a:hover {
  color: #E68C0E;
  text-decoration: none;
  }
}

.nav-active {
  transform: translateX(0%);
  opacity: 1;
}


